/* remade by chrisplayzYT! */
* {
    padding:0;
    margin:0;
    scroll-behavior:smooth;
}
body {
    background: url("/images/bkg.jpg") top center repeat-x #000444;
    height:fit-content;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 12px;
animation-name: bodyfade;
animation-duration: 1s;
 animation-timing-function: ease-in-out;
 overflow-y:scroll;
}
@keyframes bodyfade {
    0%   {opacity:70%; }
    }
    @keyframes alertshowin {
        0%   {margin-top:-30px; opacity:1%; border:none; background-color:rgba(255, 166, 0, 0.212); color:rgba(255, 255, 255, 0.158);}
    }
a {
    text-decoration:none;
    cursor:pointer;
    color: #095fb5;
}
#maincontent {
    
    width:900px;
    margin:auto;
}
#bnrnav {
    background: url("/images/topNav_blue.png");
background-position: 0 0;
max-width:898px;
}
#navuil {
    font-weight:bold;
}
#navuil li {
    color:white;
    display:inline-block;
    font-size:16px;
    height:30px;
    width:fit-content;
    padding-right:12px;
    padding-left:12px;
    padding-top:6px;
    animation-name: alertshowin;
    animation-duration: 1s;
     animation-timing-function: ease-in-out;
}
#navuil li:hover {
background: url("/images/topNav_blue.png");
background-position: 0px -30px; 
background-repeat:no-repeat;
}


#bnrontop {
    margin-bottom:0; height:197px; width:100%;
}

#ROBLOXalert {
    background-color:orange;
     width:98.3%; height:20px;
     padding:5px; 
     color:white; font-weight:bold; text-align:center;
    border:2px solid black;  font-size:20px;
}

#mainpg {
    width:890px; background: #f2f2f2; color:black;  height:fit-content; overflow:hidden;
}

#btnstylelogin {
    background-color: #435D77;
    color: White; border:none; width:120px; height:30px; font-weight:bold; font-size:15px; cursor:pointer;
}

#btnstylelogin:hover {
    background-color: #B6CCE4;
    color: #435D77; border:none; width:120px; height:30px; font-weight:bold; font-size:15px; cursor:pointer;
}

button {
    background-color: #435D77;
    color: White; border:none; width:120px; height:30px; font-weight:bold; font-size:15px; cursor:pointer;
}

button:hover {
    background-color: #B6CCE4;
    color: #435D77; border:none; width:120px; height:30px; font-weight:bold; font-size:15px; cursor:pointer;
}