* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight:normal;
    cursor: url("/images/wiicursorremake.png"), default;
    scroll-behavior: smooth;
    font-family: 'Wii NTLG PGothic JPN Regular';
  }
  @font-face {
    font-family: 'Wii NTLG PGothic JPN Regular';
      /* wii shop font from: https://github.com/amarillonmc/MSE201_w_ygos10/blob/master/font/ZENTemplate/FOT-Rodin%20Pro%20M.ttf */
      /* the closest font to wii shops font in google fonts is Noto Sans JP */
    src: url(/font/FOT-Rodin\ Pro\ M.ttf);
  }
  ::selection {
  color: #323232;
  background: #34BEED;
  }
  ::-moz-selection {
  color: #323232;
  background:#34BEED;
  }
  
  body {
    margin-top:8px;
    overflow-x: hidden; 
    overflow-y:auto;
    transition:.3s ease-in-out;
    animation: godown .5s;
    opacity:100%;
     /* fix borders not going all the way down the page 2/26/25 :/ */
     height:100vh;
     width:100%;
     max-width:100vh;
     margin:auto;
     /* fix borders not going all the way down the page 2/26/25 :/ */
  
  }

  #mainpg {
    background-color:white;
    color:#323232;
  }
  
  a {
    color:#10799c;
    cursor: url("/images/wiicursorremake_hover.png"), auto;
    text-decoration:none;
  }
  a:hover {
    color:#12a3d3;
    cursor: url("/images/wiicursorremake_hover.png"), pointer;
    
    text-decoration:underline;
  }
  hr {
    border: 1px solid #838383;
  }
  
  
  
  @keyframes godown {
    0% {margin-top:50px; opacity:0%;};
  }
  #details {
    margin:auto;
    width:90%;
    max-width:900px;
    background-color:rgba(255, 255, 255, 0.151);
    color:inherit;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.123);
    border-left:1px solid #34beed;
    border-top:1px solid #34beed;
    border-right:2px solid #34beed;
    border-bottom:2px solid #34beed;
    border-radius:3px;
    color:inherit;
    padding:10px; 
    text-align: center;
    z-index:5;
    position:relative; 
  }
  
  
  #borderleft {
    position:absolute; top:0px; left:1.3%; z-index:-3px; width:13px; height:100%;
  }
  #borderright {
    position:absolute; top:0px; right:1.3%; z-index:-3px; width:13px; height:100%;
  }
  

  /* loading icon */


#wiiring {
    animation: spinner 1s linear infinite;
    transition:.3s ease-in-out;
    position:fixed;
    width:95px; height:95px;
    opacity:100%;
  }
  #wiiringshadow {
  animation: spinner 1s linear infinite;
  transition:.3s ease-in-out;
  position:fixed;
  width:95px; height:95px;
  opacity:30%;
  }
  
  @keyframes spinner {
  from {transform: rotate(0deg)}
  to {transform: rotate(343deg)};
  }
  /* loading icon */


  
  
  /* mobile */
  
  @media only screen and (min-width:600px) {
    #borderleft {
        position:absolute; top:0px; left:1.3%; z-index:-3px; width:13px; height:100%;
    }
    #borderright {
        position:absolute; top:0px; right:1.3%; z-index:-3px; width:13px; height:100%;
    }
  }
  
  
  /* computers */
  
  @media only screen and (min-width: 1070px) {
    #borderleft {
        position:absolute; top:0px; left: 5.5em; z-index:-3px; width:13px; height:100%;
    }
    #borderright {
        position:absolute; top:0px; right: 5.5em; z-index:-3px; width:13px; height:100%;
    }
  }
  
  
  
  
  
  /* other styles */
  
  /* wii shop type button made by ChrisplayzYT/BLOX.
  smalltext,mediumtext,largetext, were made by me peeking at the wii shop css,
  its just font sizes!1!1 i didnt steal!!! 
  */
  button {
    /* change to your own cursor, or just remove :) */
    cursor: url("/images/wiicursorremake.png"), default;
    text-align: center;
    padding: 3px 5px;
  transition:0s;
  /* don te edit cuz this make the buttons w i i s h o p p y */
    border-radius: 5px;
    border: 1.3px solid #34beed;
    background-color:#f6fdff;
    filter: drop-shadow(1px 1px 3.4px #c5c5c5);
    box-shadow:inset 1px 1px 12px #54545415;
    font-size:18px;
  }
  
  button:hover {
        /* change to your own cursor when hovering over sum, or just remove :) */
    cursor: url("/images/wiicursorremake_hover.png"), pointer;
    transition:0s;
  /* don te edit cuz this make the buttons w i i s h o p p y */
    border:2px solid #34beed;
    outline:1.5px solid #34bEED;
  }
  /*forthese, add class="BTN___text" to your button */
  .BTNsmalltext {
    font-size: 14px;
  }
  .BTNmediumtext {
    font-weight:normal;
    font-size: 18px;
  }
  .BTNlargetext {
    font-weight:normal;
    font-size: 22px;
  }
  /* wii shop type button made by ChrisplayzYT/BLOX.
  smalltext,mediumtext,largetext, were made by me peeking at the wii shop css,
  its just font sizes!1!1 i didnt steal!!! 
  */
  
    
  
  /* credit to idkwhereisthisname for the early web buttons idea ''https://idkwh.ct8.pl'' */
  
  #earlybuttonsonhomepage {
    border:2px solid #95e5ff;
    height:fit-content;
    max-height:fit-content;
    max-width:90%;
    margin:auto;
    overflow-y:auto;
    overflow-x:hidden;
    text-align:center;
    font-size:18px;
    padding:3px;
    margin-top:15px;
    margin-bottom:15px;
  }
  
  
  
  #earlywebbutton {
    text-decoration:none;
    color:transparent;
    width:88px;
    height:31px;
    display:inline-block;
    border:1px solid #34BEED;
    border-radius:3px;    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.247);
    cursor: url("/images/wiicursorremake_hover.png"), pointer;
  }
  #earlywebbutton a {
    text-decoration:none;
    color:transparent;
    cursor: url("/images/wiicursorremake_hover.png"), pointer;
  }
  /* credit to idkwhereisthisname for the early web buttons idea ''https://idkwh.ct8.pl'' */

#noticc {
    /* notice abt website updates */
    background-color:#34BEED; color:#FFF; font-weight:bold; font-size:18px; text-align:center; width:100%; height:40px; padding-bottom:30px; display:block; position:relative; top:0; left:0; z-index:99999;
}
